{plugins, [coveralls]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.


{profiles, [
            {prod, [
                    {erl_opts, [warn_untyped_records, debug_info, warnings_as_errors]}
                   ]},
            {test, [
                    {deps, [
                            {hex,    ".*", {git, "https://github.com/b/hex", {branch, "master"}}}
                           ]}
                   ]}
           ]}.

{deps, [
        {base58, ".*", {git, "https://github.com/mbrix/erl-base58", {branch, "master"}}},
        {base32, ".*", {git, "https://github.com/aetrion/base32_erlang", {branch, "master"}}},
        {small_ints, ".*", {git, "https://github.com/whatyouhide/small_ints", {branch, "master"}}}
       ]}.

