{cover_enabled, true}.
{deps, [
  {base58, ".*", {git, "https://github.com/mbrix/erl-base58", {branch, "master"}}},
  {base32, ".*", {git, "https://github.com/aetrion/base32_erlang", {branch, "master"}}},
  {hex,    ".*", {git, "https://github.com/b/hex", {branch, "master"}}},
  {small_ints, ".*", {git, "https://github.com/whatyouhide/small_ints", {branch, "master"}}}
 ]}.

{erl_opts, [
            warn_untyped_records,
            debug_info
            %% warnings_as_errors
           ]}.

